<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lessons</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./lessons.js"></script>
</head>
<body>
    <div id="app">
        <div v-if="showLessonsPage">
            <button v-if="cart.length>0" v-on:click="switchPages">Cart Page</button>
           <select name="" id="" v-model="selectedOrder" v-on:change="handleOrder">
            <option value="" disabled>Order Option</option>
            <option v-for="(order, index) in orders" v-bind:value="order" >
                {{order}}
            </option>
           </select>

           <select name="" id="" v-model="selected" v-on:change="handleOrder">
            <option v-for="(option, index) in options" v-bind:value="option">
                {{option}}
            </option>
           </select>

           <div>
               {{selectedOrder}}
           </div>
           <div>
            {{selected}}
        </div>
            <div v-for="(lesson, index) in lessons">
                <div class="lesson">
                    <p>Subject: {{lesson.subject}}</p>
                    <p>Location: {{lesson.location}}</p>
                    <p>Price: {{lesson.price}}</p>
                    <p>Spaces: {{lesson.spaces}}</p>
                    <button v-if="lesson.spaces>0" v-on:click="decrementSpace(lesson.id); addToCart(lesson.id)">Add to cart</button>
                </div>
            </div>
        </div>

        <div class="cart" v-else>
            <button v-on:click="switchPages">Cart Page</button>
            <div v-for="(lesson, index) in cart">
                <div class="lesson">
                    <p>Subject: {{lesson.subject}}</p>
                    <p>Location: {{lesson.location}}</p>
                    <p>Price: {{lesson.price}}</p>
                    <p>Spaces: {{lesson.spaces}}</p>
                    <button v-on:click="removeFromCart(lesson.id, index)">Remove from cart</button>
                </div>
            </div>
            <form >
                <input v-model.trim="checkout.name" type="text" name=""  id="" placeholder="Please type your name" onkeypress="return /[a-z]/i.test(event.key)" required>
                <input v-model.number="checkout.phone" type="number" placeholder="Please type your phone number" required>
                <button v-if="checkout.name !== '' && checkout.phone !==''"
                v-on:click="confirmSubmission">Checkout</button>
            </form>
        </div>
    </div>
    <script>
        var app = new Vue({
            el:"#app",
            data(){
                return {
                    lessons:lessons,
                    orders:["ascending", "descending"],
                    selectedOrder:'',
                    options:['subject', 'location', 'price', 'spaces'],
                    selected:'subject',   
                    cart:[],
                    showLessonsPage:true,
                    checkout:{
                        name:'',
                        phone:'',
                    }
}
            },
            methods:{
                handleOrder: ()=>{   
                if(app.selectedOrder==='ascending'){
                    app.lessons.sort((a,b)=>(a[app.selected] > b[app.selected]) ? 1 : -1)
                }else if(app.selectedOrder==='descending'){
                app.lessons.sort((a,b)=>(b[app.selected] > a[app.selected]) ? 1 : -1)
                }
            },
          decrementSpace:(id)=>{
              let tempLessons = [...app.lessons]
              let selectedLesson = tempLessons.find(lesson=>lesson.id === id)
              const index = tempLessons.indexOf(selectedLesson)

              const lesson = tempLessons[index]
              if (lesson.spaces > 0){
                  lesson.spaces = lesson.spaces-1
                  app.lessons = tempLessons
                 
              }else{
                  return null
              }
              app.handleOrder()
          },
          addToCart:(id)=>{
            

              let tempLessons = [...app.lessons]
              let selectedLesson = tempLessons.find(lesson=>lesson.id===id)
              const index = tempLessons.indexOf(selectedLesson)

            
              let lesson = tempLessons[index]
              app.lessons = tempLessons
              app.cart = [...app.cart, lesson]
              
          },
          switchPages:()=>{
              app.showLessonsPage = !app.showLessonsPage
          },
          removeFromCart:(lessonId, cartIndex)=>{
            let tempCart = [...app.cart]
    tempCart = tempCart.filter((item, index)=>index !== cartIndex)

    const tempLessons = [...app.lessons]
    const selectedLesson = tempLessons.find(lesson=>lesson.id===lessonId)
    const index = tempLessons.indexOf(selectedLesson)

    const lesson = tempLessons[index]
    lesson.spaces = lesson.spaces + 1

    app.cart = tempCart
    app.lessons = tempLessons
          },
          confirmSubmission:()=>{
            let checkoutMessage = `Your order has been submitted ${app.checkout.name}`
            alert(checkoutMessage)
            app.checkout.name = ''
            app.checkout.phone = ''
        }

            }
        })
    </script>
    <style scoped>
        .lesson{
            border: 1px solid black;
            margin: 1rem;
        }
    </style>
</body>
</html>